@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/bootstrap/scss/mixins/buttons";

$button-colour: #cccccc;
$border-colour: #e26600;

h1 {
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
}

body {
  background: #333;
  color: #fff;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: whitesmoke;
  overflow: hidden;

  a {
    float: left;
    color: grey;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

    :hover {
      background-color: #ddd;
      color: black;
    }
  }
}

.btn-feature {
  background-color: $button-colour;
  @include button-variant(
    $button-colour,
    darken($border-colour, 50%),
    darken($border-colour, 100%)
  );
}

.table {
  background-color: whitesmoke;
  color: black;
  margin: 20px;
  padding: 20px 16px;
  vertical-align: top;
}

table,
th,
td {
  border: 3px solid #f89a1f;
  border-collapse: collapse;
  vertical-align: top;
}
