@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/bootstrap/scss/mixins/buttons";

$button-colour: #dfdfdf;
$border-colour: #ec7700;

h1,
h2 {
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
  margin-top: 5%;
}

body {
  background: #333;
  color: #fff;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


#report{
  float: left;
    width: 33.33%;
    padding: 15px;

}



#wrapper {
  //display: block;
  width: auto;
  margin: 0 auto;
  align-content: center;
  position: relative;

  .column {
    float: left;
    width: 33.33%;
    padding: 15px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width:600px) {
    .column {
      width: 100%;
    }
  }


  div {
    width: 50%;
    top: 1%;
  }

  p {
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
    font-size: larger;
    width: 50%;
  }

  span {
    font-size: x-large;
    font-weight: bolder;
  }
}

.topnav {
  background-color: whitesmoke;
  overflow: hidden;

  a {
    float: left;
    color: grey;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

    :hover {
      background-color: #ec7700;
      color: black;
    }
  }
}

button.btn-default {
  border-width: thick;
  width: 150px;
  height: auto;
  border-radius: 5%;
  @include button-variant(
    $button-colour,
    $border-colour,
    darken($border-colour, 50%)
  );
  margin-right: 1%;
  margin-left: 1%;
}

button.btn-default:hover {
  background-color: #ec7700;
  color: black;
}



.table {
  background-color: whitesmoke;
  border: #333;
  color: black;
  margin: 20px;
  padding: 20px 16px;
  vertical-align: top;
}

table,
th,
td {
  border: 3px solid #f89a1f;
  border-collapse: collapse;
  vertical-align: top;
}
