@import "../../node_modules/bootstrap/scss/bootstrap.scss";

#json {
  float: left;
  text-align: left;
}

#pass {
  color: aquamarine;
}

#mediocre {
  color: goldenrod;
}

#fail {
  color: crimson;
}
